ul li {
  text-decoration: none;
  list-style: none;
}


.menu {
     padding: 0;
     margin: 0;
     list-style: none;
     display: flex;
}
.menu-item {
 margin-top: 20px;
}
.menu-item:not(:last-child) {
  margin-right: 10px;
} 
.menu-link {
     outline: 1px solid black;

     position: relative;

     display: block;
     padding: 10px 20px;
     text-decoration: none;
     color: currentColor;
}
.menu-link::after {
     content: '';

     position: absolute;

     left: 0;
     bottom: 0;

     display: block;
     width: 100%;
     height: 5px;
     background-color: red;
}
/* Второй пример */

.menu1 {
     padding: 0;
     margin: 0;
     list-style: none;
     display: flex;
}
.menu-item1 {
 margin-top: 20px;
}
.menu-item1:not(:last-child) {
  margin-right: 10px;
} 
.menu-link1 {
     outline: 1px solid black;

     position: relative;

     display: block;
     padding: 10px 20px;
     text-decoration: none;
     color: currentColor;
}
.menu-link1::after {
     content: '';

     position: absolute;
     left: 0;
     bottom: 0;

     display: block;
     width: 0;
     height: 5px;
     background-color: red;

     transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
     /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
     /* opacity: 0; */
}
.menu-link1:hover::after {
     /* opacity: 1; */
     width: 100%;
}

/* Три */
.menu2 {
     padding: 0;
     margin: 0;
     list-style: none;
     display: flex;
}
.menu-item2 {
 margin-top: 20px;
}
.menu-item2:not(:last-child) {
  margin-right: 10px;
} 
.menu-link2 {
     outline: 1px solid black;

     position: relative;

     display: block;
     padding: 10px 20px;
     text-decoration: none;
     color: currentColor;
}
.menu-link2::after {
       content: '';

     position: absolute;
     left: 0;
     bottom: 0;

     display: block;
     width: 100%;
     height: 5px;
     background-color: red;
 
     transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
     /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
     /* opacity: 0; */
}
.menu-link2:hover::after {
     /* opacity: 1; */
      transform: scaleX(0.5);
     
}
/* Four  */

.menu3 {
     padding: 0;
     margin: 0;
     list-style: none;
     display: flex;
}
.menu-item3 {
 margin-top: 20px;
}
.menu-item3:not(:last-child) {
  margin-right: 10px;
} 
.menu-link3 {
     outline: 1px solid black;

     position: relative;

     display: block;
     padding: 10px 20px;
     text-decoration: none;
     color: currentColor;
}
.menu-link3::after {
     content: '';

     position: absolute;
     left: 0;
     bottom: 0;

     display: block;
     width: 100%;
     height: 5px;
     background-color: red;
 
     transform: scaleX(0);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
}
.menu-link3:hover::after {
     transform: scaleX(1);   
     
}

/* Repeta 2 */

.product {
  width: 370px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 2), 0px 1px 1px rgba(0, 0, 0, 14),
  8px 1px 3px rgba(0, 0, 0, 12); 

  overflow: hidden;

}
.product:hover .product-actions {
  opacity: 1;
}
.product-thumb:hover::before {
  opacity: 1;
}
.product-thumb {
  position: relative;
}
.product-thumb::before {
  display: inline-block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 0, 0.5);

  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product:hover .product-thumb::before {
     transform: translateX(0);
}
.product-meta {
  padding: 15px;
}
.product-name {
  margin-top: 0;
  margin-bottom: 10px;
}
.product-price {
  margin-top: 0;
  margin-bottom: 0;
}
.product-actions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  outline: 10px solid orange;
  display: flex;
  /* opacity: 0; */
  transition: 500ms opacity linear;
 }
 .product-actions .icon {
  width: 32px;
  height: 32px;
}
/* <!-- Второй пример --> */

.product2 {
  width: 370px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 2), 0px 1px 1px rgba(0, 0, 0, 14),
  8px 1px 3px rgba(0, 0, 0, 12); 

  overflow: hidden;
}
.product2:hover .product-actions2 {
  opacity: 1;
}
.product-thumb2:hover::before {
  opacity: 1;
}
.product-thumb2 {
  position: relative;
}
.product-overlay {
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 0, 0.5);

  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product2:hover .product-overlay {
     transform: translateX(0);
}
.product-meta2 {
  padding: 15px;
}
.product-name2 {
  margin-top: 0;
  margin-bottom: 10px;
}
.product-price2 {
  margin-top: 0;
  margin-bottom: 0;
}
.product-actions2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  outline: 10px solid orange;
  display: flex;
  opacity: 0;
  transition: 500ms opacity linear;
 }
 .product-actions2 .icon2 {
  width: 32px;
  height: 32px;
}

/* Third  */

.product3 {
  width: 370px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 2), 0px 1px 1px rgba(0, 0, 0, 14),
  8px 1px 3px rgba(0, 0, 0, 12); 

  overflow: hidden;
}
.product3:hover .product-actions3 {
  opacity: 1;
}
.product-thumb3:hover::before {
  opacity: 1;
}
.product-thumb3 {
  position: relative;
}
.product-overlay2 {
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 0, 0.5);

  transform: scale(0.5);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product3:hover .product-overlay2 {
     transform: scale(1);
     opacity: 1;
}
.product-meta3 {
  padding: 15px;
}
.product-name3 {
  margin-top: 0;
  margin-bottom: 10px;
}
.product-price3 {
  margin-top: 0;
  margin-bottom: 0;
}
.product-actions3 {
  outline: 3px solid orange;   
  position: absolute;
  display: flex;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  transition: opacity 259ms  cubic-bezier(0.4, 0, 0.2, 1);
 }
 .product-actions3 .icon3 {
  width: 32px;
  height: 32px;
}

/* Repeta 3 */

.group {
  margin-bottom: 20px;
}
.form {
  width: 600px;
  outline: 1px solid tomato;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.form-field {
  outline: 1px solid blue;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-field label {
  margin-bottom: 5px;
}
.form-field input {
  margin: 0;
  padding: 6px 10 px;
}
.form-field input::placeholder {
  color: brown;
  text-align: right;
}

.group-title {
   margin-top: 0;
   margin-bottom: 10px;
}
.topic-options {
  padding: 0;
  margin: 0;
}
.topic-options li {
  display: flex;
  align-items: center;
}
.topic-1 input {
  color: blue;
}
/* .topic-options input[type='checkbox'] {
  width: 40px;
  height: 40px;  
} */
.topic-options label {
  font-size: 20px;
  margin-left: 10px;
}
.experience-option {
  padding: 0;
  margin: 0;
}
.form .date {
  border-width: 2px;
  border-radius: 4px;
   padding: 20px 40px;
  }
  .comments {
    padding: 8px;
  }

  /* Репета 4 */

  .form2 {
    padding: 20px;
    margin: 20px;
    width: 600px;
      }
  .form-field2 {
    position: relative;
    margin-bottom: 30px;
  }
  .form-label2 {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    transition: transform 250ms linear;
  }
  .form-input2 {
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    font: inherit;
    border-radius: 3px;
    border: 1px solid #2a2a2a;
  }
  .form-input2:focus +.form-label2, 
  .form-input2:not(:placeholder-shown)+ .form-label2 {
    transform: translateY(-50px);
    color: blue;
  }
  .icon-form-repeta4 {
    position: absolute;
    top: 50%;
    left: 10%;

    transform: translateY(-50%);

    display: block;
    width: 20px;
    height: 20px;
    background-color: tomato;
  }
  /* .form-input2 ~ .icon-form-repeta4 {
    background-color: blueviolet;
  } */
  /* .form-input2:focus ~ .icon-form-repeta4 {
    background-color: blueviolet;
  } */
  .box {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: tomato;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  /*  Задаём значения перехода  */
  transition-property: background-color, transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 0;
}
/* При ховере меняем значения анимируемых свойств */
.box:hover {
  background-color: teal;
  transform: rotate(180deg);
}
h1 {
  font-size: 24px;
}
.flex-container {
  border: 2px dashed #2a2a2a;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 50%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transition-property: transform;
}
.flex-container:hover .circle {
  transform: scale(1.5);
}

.circle:nth-child(1) {
  background-color: orange;

  transition-duration: 500ms;
}

.circle:nth-child(2) {
  background-color: #03a9f4;

  transition-duration: 1500ms;
}

.circle:nth-child(3) {
  background-color: palevioletred;

  transition-duration: 3000ms;
}
.container2 {
  border: 2px dashed #2a2a2a;
  border-radius: 4px;
  padding: 10px;
}

.circle2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transform: translatex(0);
  transition-property: transform;
  transition-duration: 2000ms;
}

.circle2:not(:last-child) {
  margin-bottom: 5px;
}

.container2:hover .circle2 {
  transform: translatex(calc(100vw - 86px));
}

.circle2:nth-child(1) {
  background-color: #f44336;
  transition-timing-function: linear;
}

.circle2:nth-child(2) {
  background-color: #3f51b5;
  transition-timing-function: ease;
}
.circle2:nth-child(3) {
  background-color: #00bcd4;
  transition-timing-function: ease-in;
}
.circle2:nth-child(4) {
  background-color: #4caf50;
  transition-timing-function: ease-out;
}
.circle2:nth-child(5) {
  background-color: #ffeb3b;
  transition-timing-function: ease-in-out;
}
.circle2:nth-child(6) {
  background-color: #e91e63;
  transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
}